// elements that apply to all screen sizes:
#buttonsArea {
  width: 12%;
  padding-top: 5%;
}
#buttonsAreaWrapper {
  background-color: $mainBackColor;
  #flipButton {
    background-color: $mainBackColor;
    // removes standard button formatting
    display: block;
    box-shadow: 0px 0px 0px transparent;
    border: 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    outline: 0;
  }
  #rewindButton {
    background-color: $mainBackColor;
    // removes standard button formatting
    display: block;
    margin-top: 110px;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  #nextButton {
    background-color: $mainBackColor;
    // removing the button style
    /*     background: transparent; */
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  // .eachButtonStyle {
  //   padding: 1px;
  //   margin: 1%;
  // }
}
.buttons {
  background: $mainBackColor;
  // removing the button style
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  // margin-top: 1%;
  padding: 1%;
  //transform: rotate(90deg);
  color: $backColorNav;
  width: 50%;
}

.playButton {
  background-color: $backColorNav;
  border-radius: 20%;
  width: 100px;
  height: 100px;
  position: center;
  text-align: center;
}

.buttonStyle {
  width: 80px;
}

#buttonsWrapper {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
}

// Elements for responsiveness

@media #{$phone} {
  #buttonsWrapper {
    width: 100%;
    padding-top: 5%;
    padding-left: 23%;
    padding-bottom: 0;
    display: flex;

    #flipButton {
      left: 5px;
      padding: 4px;
    }
    #rewindButton {
      height: 50%;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 150px;
      padding: 110px;
    }
    .nextButton {
      padding: 0;
      margin: 0;
      border: 0;
    }
    .eachButtonStyle {
      padding: 4px;
      display: inline;
    }
  }
}

@media #{$pad} {
  #buttonsWrapper {
    width: 100%;
    // float: right;
    padding-top: 5%;
    padding-left: 23%;
    padding-bottom: 0;
    display: flex;
    display: flex;
    #flipButton {
      left: 50px;
      padding: 4px;
    }
    #rewindButton {
      height: 50%;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 150px;
      padding: 110px;
    }
    .nextButton {
      padding: 0;
      margin: 0;
      border: 0;
    }
    .eachButtonStyle {
      padding: 4px;
      display: inline;
    }
  }
}

@media #{$desk} {
  #buttonsWrapper {
    width: 30%;
    /*     float: right; */
    padding-bottom: 0;
    display: flex;
    #flipButton {
      float: left;
    }
    #rewindButton {
      height: 50%;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 150px;
      padding: 110px;
    }
    .nextButton {
      padding: 0;
      margin: 0;
      border: 0;
    }
    .eachButtonStyle {
      margin-top: 1px;
    }
  }
}

@media #{$large} {
  #buttonsWrapper {
    width: 30%;
    /*     float: right; */
    padding-bottom: 0;
    display: flex;
    #flipButton {
      float: left;
    }
    #rewindButton {
      height: 50%;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 150px;
      padding: 110px;
    }
    .nextButton {
      padding: 0;
      margin: 0;
      border: 0;
    }
    .eachButtonStyle {
      margin-top: 1px;
    }
  }
}
