// elements that apply to all screen sizes:
#scoreCardArea {
  padding: 1%;
}
// Elements for responsiveness
@media #{$phone} {
  .scoreArea {
    display: grid;
    // text-align: right;
    // width: 20%;
  }

  #currentCard {
    margin: 1%;
    padding-left: 15%;
  }
  .scoreNumbers {
    font-size: 300%;
    //   margin-top: 1%;
  }

  #ongoingScore {
    padding: 1%;
    margin: 1%;
  }
}

@media #{$pad} {
  .scoreArea {
    display: flex;
    text-align: right;
    width: 20%;
  }

  #currentCard {
    margin: 1%;
    padding-left: 15%;
  }
  .scoreNumbers {
    font-size: 300%;
    //   margin-top: 1%;
  }

  #ongoingScore {
    padding: 1%;
    margin: 1%;
  }
}

@media #{$desk} {
  .scoreArea {
    display: flex;
    text-align: right;
    width: 55%;
  }

  #currentCard {
    margin: 1%;
    padding-left: 15%;
  }
  .scoreNumbers {
    font-size: 300%;
    //   margin-top: 1%;
  }

  #ongoingScore {
    padding: 1%;
    margin: 1%;
  }
}
@media #{$large} {
  .scoreArea {
    // display: flex;
    text-align: right;
    width: 20%;
  }

  #currentCard {
    margin: 1%;
    padding-left: 15%;
  }
  .scoreNumbers {
    font-size: 300%;
    //   margin-top: 1%;
  }

  #ongoingScore {
    padding: 1%;
    margin: 1%;
  }
}
