#titlePage {
  // background-color: $backColorNav;
  //background-color: orange;
  // height: 55px;
  // margin-top: -13px;
  // margin-bottom: 2px;
}

.title {
  text-align: center;
  background-color: $backColorNav;
  color: $mainColor;
}

.pileLogo {
  background-color: $backColorNav;
  width: 4%;
  height: 4%;
  //position: block;
  color: $mainColor;
  margin-left: 3%;
}
