#currentStackLayout {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
}

#saluteTheUser {
  grid-area: salute;
}

#buttonArea {
  grid-area: buttonArea;
  background-color: transparent;
}

#tinyNavBar {
  margin-top: 20px;
}

// Adjusts for responsiveness
@media only screen and (max-width: 767px) {
  #tinyNavBar {
    display: grid;
    grid-template-rows: repeat(5, auto);
    justify-content: space-around;
    align-content: center;
    grid-template-areas:
      "."
      "salute"
      "."
      "buttonArea"
      ".";
  }
}

@media only screen and (min-width: 768px) {
  #tinyNavBar {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-around;
    align-content: center;
    grid-template-areas: " . salute . buttonArea .";
  }
}

.cardViewWrap {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}
