#currentStackLayout {
  display: grid;
  grid-template-rows: 1fr auto;
}

#tinyNavBar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-content: center;
}

.cardViewWrap {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}
