#navigationWrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: $backColorNav;
}

#navigation {
  background-color: $backColorNav;
  min-height: 100%;
  height: 100%;
  // padding-top: 80px;
  // padding-left: 20px;
}

// elements that apply to all screen sizes:
#currentUser,
#currentStack {
  color: $contrastColor;
  //padding-left: 10px;
}
.largerText {
  font-size: 120%;
}

.navigationLink {
  background-color: $contrastColor;
  color: $backColorNav;
  border-radius: 20px;
  width: 100px;
}

.active {
  .flipMenuFront {
    color: $mainColor;
  }
  // display: flex;
  // border-radius: 20px;
}

#logOutButton {
  //background-color: $contrastColor;
  // margin-left: 1px;
  // border: none;
  // color: white;
  // padding: 15px 22px;
  // text-align: center;
  //text-decoration: none;
  // display: inline-block;
  /*   font-size: 16px; */
  border-radius: 20px;
  // display: block;
}

.logOutIcon {
  background-color: $contrastColor;
  color: $backColorNav;
  transform: rotate(180deg);
}

//#logOutButton:hover {
//background-color: $mainBackColor;
//}

// li {
//   width: 100%;
// }

//Links
a {
  color: $backColorNav;
  // padding: 1em 1.5em;
  // background-color: #f44336;
  // color: white;
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

// Flip cards
.flipMenu {
  // text-align: center;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipMenuInner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: 45px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipMenu:hover .flipMenuInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipMenuFront,
.flipMenuBack {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
}

/* Style the front side (fallback if image is missing) */
.flipMenuFront {
  font-weight: bold;
  color: $backColorNav;
  width: 70px;
  transform: rotate(180deg);
}

/* Style the back side */
.flipMenuBack {
  font-weight: bolder;
  transform: rotateY(180deg);
  background-color: $contrastColor;
  position: relative;
  top: -45px;
}

//////////////////////////////
// Elements for responsiveness
@media #{$phone} {
  #navigation {
    margin: 0;
    // float: left;
    // height: 50%;
    padding: 0;
    text-align: left;
    text-decoration: none;
    display: inline;
    overflow: hidden;
    flex-direction: column;
  }
}

@media #{$pad} {
  #navigation {
    margin: 0;
    padding-right: 1%;
    display: flex;
  }
}

@media #{$desk} {
  #navigation {
    width: 5%;
    float: left;
    padding-bottom: 32%;
    padding-right: 3%;
  }
}

@media #{$large} {
  #navigation {
    width: 5%;
    float: left;
    padding-bottom: 29%;
    padding-right: 2.6%;
  }
}
