
#titleLogo {
  grid-area: logo;
}

#logUserOut {
  grid-area: logUserOut;
}

#titlePage {
  display: grid;
  grid-template-areas: 
  "logo logo logo logo logo logUserOut";
}

.title {
  text-align: center;
  background-color: $backColorNav;
  color: $mainColor;

}

.pileLogo {
  background-color: $backColorNav;
  width: 4%;
  height: 4%;
  //position: block;
  color: $mainColor;
  margin-left: 3%;
}

