
#titleLogo {
  grid-area: logo;
}

#logUserOut {
  grid-area: logUserOut;
}

#titlePage {
  display: grid;
  grid-template-areas: 
  "logo logo logo logo logo logUserOut";
}

.title {
  text-align: center;
  background-color: $backColorNav;
  color: $mainColor;

}

.pileLogo {
  background-color: $backColorNav;
  width: 4%;
  height: 4%;
  //position: block;
  color: $mainColor;
  margin-left: 3%;
}

@media only screen and (max-width: 767px) {
  .pileLogo {
    width: 10%;
    height: 10%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 2400px) {
  .pileLogo {
    width: 5%;
    height: 5%;
    margin-left: 2%;
  }
}