//////////////
// * General Layout
//////////////

#cardText {
  grid-area: cardText;
}

#cardFront {
  background-color: $mainColor;
  padding: 100px 200px 100px 200px;
  border-radius: 20px;
  font-size: 100%;
}

#cardBack {
  background-color: $contrastColor;
  padding: 100px 200px 100px 200px;
  border-radius: 20px;
  font-size: 100%;
}

#card {
  grid-area: card;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: $mainBackColor;
}

#info {
  grid-area: info;
}

#buttonsArea {
  grid-area: buttonsArea;
  display: grid;
}

#scoreCardArea {
  grid-area: scoreCardArea;
}

#cardArea {
  grid-area: cardArea;
  display: grid;
  grid-template-areas: "card";
  grid-template-rows: 3fr 1fr;
}

#controlCardArea {
  grid-area: cardControl;
  display: grid;
  grid-template-areas:
    "buttonsArea"
    "scoreCardArea"
    "info";
  grid-template-rows: repeat(3, 1fr);
}

#flipButton {
  grid-area: flip;
  background-color: $mainBackColor;
}

#controlButtons {
  grid-area: control;
}

#buttonsAreaWrapper {
  display: grid;
  grid-template-areas: " flip control control";
  grid-template-columns: 1fr 2fr;
  background-color: $mainBackColor;
}

//////////////
// * Responsive
//////////////

@media only screen and (max-width: 767px) {
  #cardAreaWrapper {
    display: grid;
    grid-template-areas:
      "cardArea"
      "cardControl";
    grid-template-columns: 4fr 1fr;
  }
}

// bigger screen sizes > 768
@media only screen and (min-width: 768px) {
  #cardAreaWrapper {
    display: grid;
    grid-template-areas: "cardArea cardControl";
    grid-template-columns: 4fr 1fr;
    // gap: 20px;
  }
}
