#flipButton_Positioning {
  margin-top: 15%;
  padding: 4%;
}

#correctButton_Positioning {
  padding: 1%;
  margin-left: 5px;
}

//////////////
// * General Layout
//////////////

#buttonsAreaWrapper {
  display: flex;
  flex-direction: column;
}

#correctButton_Positioning {
  padding: 1%;
}

#wrongButton_Positioning {
  padding: 1%;
}

.flipButtonStyle,
.correctButtonStyle,
.wrongButtonStyle {
  color: $contrastColor;
  background-color: $backColorNav;
}
