#correctButton_Positioning {
  padding: 1%;
}

#wrongButton_Positioning {
  padding: 1%;
}

.flipButtonStyle,
.correctButtonStyle,
.wrongButtonStyle {
  color: $contrastColor;
  background-color: $backColorNav;
}
