//////////////
// * General Layout
//////////////

#navButton {
  border: none;
}

#stackNavCenter {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#stackNavLeft {
  float: left;
}

#stackNavRight {
  float: right;
}

.buttonIsActive {
  background-color: $contrastColor;
  color: $backColorNav;
}

.buttonIsOff {
  color: $mainColor;
  background-color: $backColorNav;
  border-radius: 20px;
}

.buttonIsActive {
  border-radius: 20px;
}

.buttonIsActive .navIconStackMan {
  background: transparent;
  color: $backColorNav;
  border-radius: 20px;
}

.buttonIsOff .navIconStackMan {
  background: transparent;
  color: $contrastColor;
}

#AddFront {
  background-color: $backColorNav;
  border-radius: 20px;
  display: block;
  float: left;
}

#infoStack {
  margin-top: 20%;
}

// Flip effect on Navigation buttons:
#navButtonContainer {
  background-color: $mainBackColor;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}
