//////////////
// * General Layout
//////////////

#chosenFunctionalityArea {
  grid-area: "functionality";
}

#stackNavLeft {
  grid-area: stackNavLeft;
}

#stackNavCenter {
  grid-area: stackNavCenter;
}
#stackNavRight {
  grid-area: stackNavRight;
}

#StackNav {
  grid-area: "stackNav";
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: ". stackNavLeft . stackNavCenter . stackNavRight .";
}

#stackMessage {
  grid-area: stackMessage;
  margin-top: 5px;
}

#stackManLayout {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "stackMessage"
    "stackNav"
    "functionality";
  gap: 8px;
  grid-template-rows: auto, 1fr, 3fr;
  background-color: $mainBackColor;
  // adjust of the container positioning
  margin-top: 1%;
  margin-left: 1%;
}

//////////////////////
// * Stack Nav buttons
//////////////////////

#navButton {
  border: none;
}

.buttonIsActive {
  color: $mainBackColor;
  position: absolute;
  background-color: transparent;
  // text-decoration: none;
  border: none;
  margin: none;
  padding: none;
  border-radius: 20px;
}

.buttonIsOff {
  color: $mainBackColor;
  position: absolute;
  background-color: transparent;
  // text-decoration: none;
  border: none;
  margin: none;
  padding: none;
  border-radius: 20px;
}

.buttonIsActive .navIconStackMan {
  background: transparent;
  color: $backColorNav;
  border-radius: 20px;
}

.buttonIsOff .navIconStackMan {
  background: transparent;
  color: $contrastColor;
}

#AddFront {
  background-color: $backColorNav;
  border-radius: 20px;
  display: block;
}

// Flip effect on Navigation buttons:
#navButtonContainer {
  background-color: $mainBackColor;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}
