//////////////
// * General Layout
//////////////

#chosenFunctionalityArea {
  grid-area: "functionality";
  background-color: burlywood;
}

#stackNavLeft {
  grid-area: stackNavLeft;
}

#stackNavCenter {
  grid-area: stackNavCenter;
}
#stackNavRight {
  grid-area: stackNavRight;
}

#StackNav {
  grid-area: "stackNav";
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: ". stackNavLeft . stackNavCenter . stackNavRight .";
  background-color: purple;
}

#stackManLayout {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "stackNav"
    "functionality";
  gap: 4px;
  grid-template-rows: 1fr, 3fr;
  background-color: aquamarine;
}

#navButton {
  border: none;
}

.buttonIsActive {
  background-color: $contrastColor;
  color: $backColorNav;
}

.buttonIsOff {
  color: $mainColor;
  background-color: $backColorNav;
  border-radius: 20px;
}

.buttonIsActive {
  border-radius: 20px;
}

.buttonIsActive .navIconStackMan {
  background: transparent;
  color: $backColorNav;
  border-radius: 20px;
}

.buttonIsOff .navIconStackMan {
  background: transparent;
  color: $contrastColor;
}

#AddFront {
  background-color: $backColorNav;
  border-radius: 20px;
  display: block;
}

// Flip effect on Navigation buttons:
#navButtonContainer {
  background-color: $mainBackColor;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}
