.active {
  .flipMenuFront {
    color: $mainColor;
  }
}

#logOutButton {
  border-radius: 20px;
  margin-left: 2%;
}

.logOutIcon {
  background-color: $contrastColor;
  color: $backColorNav;
  // transform: rotate(180deg);
}

//Links
a {
  color: $backColorNav;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
}

