body {
  background: $backColorNav;
}

#introWrapper {
  background-color: $mainBackColor;
}

#logInPageWrapper {
  background-color: $mainBackColor;
  color: $contrastColor;
}

#buttonsAreaWrapper {
  background: $backColorNav;
}

#cardAreaWrapper {
  background: $mainBackColor;
}

#cardArea {
  background-color: teal;
}

#card {
  background-color: $mainColor;
  color: $colorCardText;
}
.cardText {
  color: black;
}

#cardArea {
  background-color: $mainBackColor;
}

#navigation {
  background: $backColorNav;
}

.scoreArea {
  color: $contrastColor;
}
#stackManagementWrapper {
  background-color: $mainBackColor;
  color: $backColorNav;
}
#titlePage {
  background-color: $backColorNav;
}

#title {
  // background: $backColorNav;
  background-color: $backColorNav;
  color: $mainColor;
}
