//////////////
// * General Layout
//////////////

#chosenFunctionalityArea {
  grid-area: "functionality";
}

#stackNavLeft {
  grid-area: stackNavLeft;
}

#stackNavCenter {
  grid-area: stackNavCenter;
}
#stackNavRight {
  grid-area: stackNavRight;
}

#StackNav {
  grid-area: "stackNav";
  display: grid;
  // grid-template-columns: 7fr, 1fr;
  grid-template-areas: ". stackNavLeft . stackNavCenter . stackNavRight .";
  // margin-top: 2%;
  // margin-bottom: 5%;
}

#stackMessage {
  grid-area: stackMessage;
}

#stackManLayout {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "stackMessage"
    "stackNav"
    "functionality"
    ".";
  gap: 25%;
  grid-template-rows: 1fr, 1fr, 2fr 1fr;
  background-color: $mainBackColor;
  // adjust of the container positioning
  margin-top: 1%;
  margin-left: 1%;
  padding-bottom: 20%;
}

//////////////////////
// * Stack Nav buttons
//////////////////////

.buttonIsActive {
  color: $mainBackColor;
  position: absolute;
  background-color: transparent;
  // text-decoration: none;
  border: none;
  margin: none;
  padding: none;
  border-radius: 20px;
}

.buttonIsOff {
  color: $mainBackColor;
  position: absolute;
  background-color: transparent;
  // text-decoration: none;
  border: none;
  margin: none;
  padding: none;
  border-radius: 20px;
}

.buttonIsActive .navIconStackMan {
  background: transparent;
  color: $backColorNav;
  border-radius: 20px;
}

.buttonIsOff .navIconStackMan {
  background: transparent;
  color: $contrastColor;
}

#AddFront {
  background-color: $backColorNav;
  border-radius: 20px;
  display: block;
}

// Flip effect on Navigation buttons:
#navButtonContainer {
  background-color: $mainBackColor;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}
