.cardInput {
  margin-left: 2%;
}

#addCardsToStack {
  margin-top: -8%;
}

#consolidateButton_Positioning {
  float: left;
  margin-left: 1%;
}

.addCardIcon {
  color: $contrastColor;
  background-color: $backColorNav;
}

.consolidateStackIcon {
  color: $contrastColor;
  background-color: $backColorNav;
}

#addCardWrapper {
  float: left;
  border-radius: 20px;
  background-color: $contrastColor;
  position: center;
  text-align: center;
  vertical-align: middle;
}

#consolidateWrapper {
  border-radius: 20px;
  float: right;
  background-color: $contrastColor;
  // width: 120px;
  // height: 100px;
  position: center;
  text-align: center;
  vertical-align: middle;
}

#addCardButton {
  background-color: $contrastColor;
  border-radius: 20px;
}

