.cardInput {
  margin-left: 2%;
}

#addCardButton_Positioning {
  // margin-right: 1%;
  // float: left;
}

#consolidateButton_Positioning {
  float: left;
  margin-left: 1%;
}

.addCardIcon {
  color: $contrastColor;
  background-color: $backColorNav;
}

.consolidateStackIcon {
  color: $contrastColor;
  background-color: $backColorNav;
}

#addCardWrapper {
  float: left;
  border-radius: 20px;
  background-color: $contrastColor;
  position: center;
  text-align: center;
  vertical-align: middle;
}

#consolidateWrapper {
  border-radius: 20px;
  float: right;
  background-color: $contrastColor;
  width: 120px;
  height: 100px;
  position: center;
  text-align: center;
  vertical-align: middle;
}

#addCardButton {
  background-color: $contrastColor;
  border-radius: 20px;
}

#letsAddSection {
  //background-color: $mainBackColor;
  //background-color: blue;
  // height: auto;
  // display: block;
  // margin-top: -100px;
}

#infoCardWrap {
  // margin-top: -150px;
}

#formAddNewStack {
  // float: left;
  // width: 80%;
  // margin: 1%;
}

// #checkButton {
//   background-color: $backColorNav;
//   border-radius: 20px;
//   margin-top: -30px;
//   // display: block;
//   //float: right;
// }

#addCardsToStack {
  // margin-top: -100px;
}
// #checkButtonMessage {
//   color: $mainColor;
// }
