//////////////
// * General Layout
//////////////

#cardText {
  grid-area: cardText;
}

#cardFront {
  background-color: $mainColor;
  padding: 100px 200px 100px 200px;
  border-radius: 20px;
  font-size: 100%;
}

#cardBack {
  background-color: $contrastColor;
  padding: 100px 200px 100px 200px;
  border-radius: 20px;
  font-size: 100%;
}

#card {
  grid-area: card;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: $mainBackColor;
}

#info {
  grid-area: info;
}

// #buttonsArea {
//   grid-area: buttonsArea;
//   display: grid;
//   background-color: green;
//   grid-template-areas: "flip control control";
// }

#scoreCardArea {
  grid-area: scoreCardArea;
}

#cardArea {
  grid-area: cardArea;
  display: grid;
  grid-template-areas: "card";
  grid-template-rows: 3fr 1fr;
}

#controlCardArea {
  grid-area: cardControl;
  display: grid;
  grid-template-areas:
    "buttonsArea"
    "scoreCardArea"
    "info";
  grid-template-rows: repeat(3, auto-fit);
  gap: 15px;
}

#flipButton {
  grid-area: flip;
  background-color: $mainBackColor;
  margin-top: 25px;
}

#controlButtons {
  grid-area: control;
}

#buttonsArea {
  display: grid;
  grid-template-areas: "flip control control";
  background-color: $mainBackColor;
}

#buttonsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
}

//////////////
// * Responsive
//////////////

@media only screen and (max-width: 767px) {
  #cardSetLayout {
    display: grid;
    grid-template-areas:
      "cardArea"
      "cardControl";
    grid-template-columns: 2.5fr 1.5fr;
  }
}

// bigger screen sizes > 768
@media only screen and (min-width: 768px) {
  #cardSetLayout {
    display: grid;
    grid-template-areas: "cardArea cardControl";
    grid-template-columns: 2.5fr 1.5fr;
    // gap: 20px;
  }
}
