#errorMessage {
  color: $mainBackColor;
  background-color: $mainColor;
  text-size-adjust: 120%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 25%;
  margin-left: 20%;
  margin-top: 2%;
}

#loggedInView {
  background-color: $mainBackColor;
}

#signUpView {
  background-color: $mainBackColor;
}

#logInOrSignUpViewSwitch {
  padding: 1%;
  background-color: $mainBackColor;
}
