body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $externalBackground;
  font: "Roboto", "OpenSans", "Lato", sans-serif, monospace;
  text-rendering: optimizeLegibility;
}

#wrapper {
  padding: 0;
  margin: 0;
  border: 0;
  display: grid;
}

#titlePage {
  grid-area: title;
}

#Main_contents {
  grid-area: Main_contents;
  display: grid;
}

  #currentView {
    padding-left: 1%;
  }

// Layouts

// Main_contents area

#user_is_logged_in {
  display: grid;
  grid-template-areas:
    " title"
    " Main_contents ";
  grid-template-rows: auto auto;
  background-color: $backColorNav;
}

#user_is_logged_out {
  display: grid;
  grid-template-areas:
    " title"
    " Main_contents ";
  grid-template-rows: auto auto;
  background-color: $backColorNav;
}

#navBar {
  grid-area: navbar;
  background-color: $mainBackColor;
  justify-items: center;
  padding: 5%;
}

#currentView {
  display: grid;
  grid-area: currentView;
  background-color: $mainBackColor;
}
