@media #{$smallDevices} {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $backColorNav;
    font-size: $fontSizePhone;
  }
  #wrapper {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
  }

  #mainContents {
    float: right;
    width: 100%;
    padding: 0;
    height: auto;
    background-color: $mainBackColor;
    //background-color: blue;
  }
}

@media #{$mediumDevices} {
  #title {
    width: 95%;
    height: 100%;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $mainBackColor;
    font-size: $fontSizePad;
  }
  #wrapper {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
  }
}

// min-device-width : 1200px up to 2500.

@media #{$standardView} {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $backColorNav;
    // fonts
    font-family: $myFonts;
    font-size: $fontSizeStandard;
  }

  #navigation {
    position: relative;
    min-height: 100%;
    height: 100%;
    padding: 0 2% 0 2%;
  }

  #navigationWrapper {
    position: relative;
    height: auto;
    width: 7%;
    float: left;
    padding: 0 1% 0 1%;
    background-color: $backColorNav;
  }

  #mainContents {
    float: right;
    width: 88%;
    padding: 1%;
    height: auto;
    background-color: $mainBackColor;
  }

  #loggedInView,
  #loggedOutView {
    // width: 75%;
    // padding: 1%;
    // height: auto;
    background-color: $mainBackColor;
    // width: 90%;
  }

  code {
    font-family: $myFonts;
  }

  .appWrapper {
    position: relative;
    min-height: 100%;
    height: 100%;
  }
}

@media #{$largeDevices} {
  html {
    max-width: 1900px;
    margin: 0 auto;
    background: $mainBackColor; /* Fills the page */
    //position: relative; /* Fix for absolute positioning */
  }

  #title {
    width: 95%;
    height: 100%;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $fontSizeLarge;
  }
  #wrapper {
    padding: 0;
    margin: 0;
    border: 0;
  }
}
