//////////////
// * Responsive layout
//////////////

// Small devices < 600px
// @media #{$smallDevices} {
//   svg {
//     width: 40px;
//     border-radius: 20%;
//   }
// }

// Medium: 601 to 1199 px
// @media #{$mediumDevices} {
//   svg {
//     width: 60px;
//     border-radius: 20%;
//   }
// }

// Standard: 1200 to 2500px
// @media #{$standardView} {
//   svg {
//     width: 80px;
//     border-radius: 20%;
//   }
// }

//////////////
// * General Layout
//////////////

svg {
  background: $contrastColor;
  color: $backColorNav;
}

#pieGraph {
  width: 80px;
  border-radius: 50%;
  background: $contrastColor;
  color: $backColorNav;
}
