#navigationWrapper {
  background-color: green;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
}

.logOutIcon {
  background-color: $contrastColor;
  color: $backColorNav;
  transform: rotate(180deg);
}
