#titlePage {
  background-color: $backColorNav;
  //background-color: orange;
  // height: 55px;
  // margin-top: -13px;
  // margin-bottom: 2px;
}

#title {
  text-align: center;
  color: $contrastColor;
}

.pileLogo {
  //background-color: $backColorNav;
  background-color: $backColorNav;
  width: 4%;
  height: 4%;
  //position: block;
  color: $contrastColor;
}
